{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row"><br></div>
<div class="row"><h3>Company information</h3></div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Primary Key #</th>
      <th scope="col">Username (admin)</th>
      <th scope="col">Company Name</th>
      <th scope="col"># of Current Jobs</th>
      <th scope="col">Last seen</th>
      <th scope="col">Company Type</th>
      <th scope="col">State of incorporation</th>
      <th scope="col">Website</th>
    </tr>
    </thead>
      <tbody>
        {% for employer in employers %}
        <tr>
        <th scope="row">{{ employer.startup.first().id }}</th>
        <td> {{ employer.username }}</td>
        <td> {{ employer.startup.first().company_name }} </td>
        <td> {{ employer.startup.first().jobs.count() }} </td>
        <td> {{ employer.last_seen.month }}/{{ employer.last_seen.day }}/{{ employer.last_seen.year }} - {{ employer.last_seen.hour }}:{{ employer.last_seen.minute }}</td>
        <td> {{ employer.startup.first().company_type }} </td>
        <td> {{ employer.startup.first().state_of_incorporation }}</td>
        <td><a href="{{ employer.startup.website }}"> {{ employer.startup.first().website}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
</table>
</div>
{% endblock content %}
