{% extends "base.html" %}
{% block app_content %}
{% with f = u.query.filter_by(role='Freelancer') %}
  <h1> Freelancer's available for hire </h1>
  {% for freelancer in f %}
  <table>
    <tr valign="top">
      {% if freelancer.avatar_data %}
      <td><img src="{{ freelancer.make_avatar_url() }}">
      {% else %}
      <td><img src="{{ freelancer.avatar(32) }}"></td>
      {% endif %}
      <td><a href="{{url_for('user', username=freelancer.username)}}">{{ freelancer.username }}</a>, {{freelancer.occupation}}</td>
    </tr>
  </table>
  <br>
  {% endfor %}
{% endwith %}


{% endblock %}
