{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <div class="row"><br></div>
      <h3>Register</h3>
      <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password)}}
        {{ wtf.form_field(form.repeat_password)}}
        <button type="submit" class="btn btn-outline-primary btn-sm">
        {{ wtf.form_field(form.submit, form_type='submit')}}
        </button>
</div>
{% endblock %}
