{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
<div class="container">
  <div class="row"><br></div>
<div class="form-group col-md-6">
 <h3 class="login-heading mb-4">{{ _("Welcome back!")}}</h3>

<form class="form form-horizontal" method="post" role="form">
  <div class="form-label-group">
  {{ form.hidden_tag() }}
  {{ form.username(autofocus=true) }}
  </div>
  <div class="form-label-group">
  {{ form.password(autofocus=true) }}
  </div>
  <div class="custom-control custom-checkbox mb-3">
  {{ form.remember_me }}
  </div>
{{ form.submit }}

<div class="text-center">
<a class="small" href="#">Forgot password?</a>
</div>

</form>
<!--
<h4> Or, coming soon... </h4>
<a class="btn btn-sm btn-social btn-linkedin">
  <span class="fa fa-linkedin"></span> Sign in with LinkedIn
</a>
<br>
<br>
<a class="btn btn-sm btn-social btn-github">
  <span class="fa fa-github"></span>Sign in with Github
</a>
</div>
-->
<!--
<!-- <h4> Or alternatively, </h4>

<h4><a href="{{ url_for('auth.login_with_github')}}"><img src='/static/github.png' width='275' height='55'></a></h4>
<h4><a href="{{ url_for('auth.login_with_linkedin') }}"><img src='/static/Signin-with-LinkedIn.png' width='275' height='55'></a></h4><br> -->
<div class="row"><br></div>
<p>{{ _('Not already a user?')}}
  <a href="{{ url_for('auth.start_registration') }}"> {{_('Register here!')}}</a></p>
</div>
{% endblock %}
