<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to PartnerUp</title>
    {% endif %}
  </head>
  <body>
      <div>PartnerUp:
        <a href="{{ url_for('index') }}">Home</a>
        <!if the current_user is logged in, current_user.is_anonymous will be False---->
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login here</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout here</a>
        {% endif %}
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
      {% block content %}{% endblock %}
  </body>
</html>
