{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to Freeline.</h1>
  {% if current_user.is_authenticated %}
  {% if current_user.role == "Employer" %}
  <p class="lead">You're an {{ current_user.role.lower() }} looking for freelancers and possibly future business partners.</p>
    <hr class="my-4">
  <p> Click the button below to get started.</p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('freelancers_available')}}" role="button">Available freelancers.</a>
  {% elif current_user.role == "Freelancer" %}
  <p class="lead">You're a frelancer looking for work and maybe some stake in a fresh startup.</p>
    <hr class="my-4">
  <p> Click the button below to get started.</p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('jobs_available')}}" role="button">Available jobs</a>
  {% endif %}
  {% else %}
  <p class="lead">Login if you have an account to continue making progress.</p>
    <hr class="my-4">
  <p> IF you haven't made an account yet, click the button below to get started.</p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('start_registration')}}" role="button">Register</a>
</div>

{% endif %}
{% endblock %}
