

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <h1>Login</h1>
    <div class="row">
        <div class="col-md-3">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <br><br>

<h4> Or alternatively, </h4>
<h4><a href="{{ url_for('login_with_github')}}"><img src='/static/github.png' width='275' height='55'></a></h4>
<h4><a href="{{ url_for('login_with_linkedin') }}"><img src='/static/Signin-with-LinkedIn.png' width='275' height='55'></a></h4><br>
<p>Not already a user? <a href="{{ url_for('start_registration') }}"> Register here!</a></p>
{% endblock %}
