

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <div class="row"><br></div>
<div class="form-group col-md-6">
<h3>{{_('Login')}}</h3>

<form class="form form-horizontal" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

  {{ wtf.form_field(form.username) }}
  <small id="emailHelp" class="form-text text-muted">{{ _("We'll never share your email with anyone else unless you tell us to.") }}</small>
  <br>
  {{ wtf.form_field(form.password, form_type='password') }}

{{ form.recaptcha }}
<br>
<button type="submit" class="btn btn-outline-primary btn-sm">
  {{ wtf.form_field(form.submit, form_type='submit')}}
</button>

</form>
<!--
<h4> Or, coming soon... </h4>
<a class="btn btn-sm btn-social btn-linkedin">
  <span class="fa fa-linkedin"></span> Sign in with LinkedIn
</a>
<br>
<br>
<a class="btn btn-sm btn-social btn-github">
  <span class="fa fa-github"></span>Sign in with Github
</a>
</div>
-->
<!--
<!-- <h4> Or alternatively, </h4>

<h4><a href="{{ url_for('login_with_github')}}"><img src='/static/github.png' width='275' height='55'></a></h4>
<h4><a href="{{ url_for('login_with_linkedin') }}"><img src='/static/Signin-with-LinkedIn.png' width='275' height='55'></a></h4><br> -->
<div class="row"><br></div>
<p>{{ _('Not already a user?')}}
  <a href="{{ url_for('start_registration') }}"> {{_('Register here!')}}</a></p>
</div>
{% endblock %}
