{% extends "base.html" %}

{% block content %}
{% if user.avatar_data %}
<div class="container">
<div class="row"><br></div>
<table>
  <tr valign="top">
    <td><img src="{{ avatar_url }}" width=100 height=100></td>
    <td><h4>{{ user.first }} {{ user.last }}</h4>
      {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
      {% if user.last_seen %}<p>Last seen on: {{ user.last_seen.month }}/{{user.last_seen.day }}/{{user.last_seen.year }}</p>{% endif %}
    </td>
  </tr>
</table>
{% else %}
<table>
  <tr valign="top">
    <td><img src="{{ user.avatar(128) }}"></td>
    <td><h4>{{ user.username }}</h4>
      {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
      {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
    </td>
  </tr>
</table>
{% endif %}
<div class="row"><br></div>
{% if current_user == user %}
{% if not profile_pic %}
<a href="{{ url_for('upload_profile_pic') }}">Upload a profile pic</a>
<br>
{% endif %}
{% endif %}
<ul class="nav nav-pills">
  <li class="nav item">
    <a class="nav-link {% if home_active %}active{% endif %}" href= "{{ url_for('user', username=user.username)}}">User home</a>
  </li>
  <li class="nav item">
    <a class="nav-link {% if current_jobs_active %}active{% endif %}" href= "{{ url_for('current_jobs', username=user.username)}}">Current Jobs</a>
  </li>
  <li class="nav item">
    <a class="nav-link {% if messages_active %}active{% endif %}" href="#">Messages </a>
  </li>
  <li class="nav item">
    <a class="nav-link {% if edit_active %}active{% endif %}" href="{{ url_for('edit_profile', username=current_user.username) }}">Edit profile</a>
  </li>
</ul>
<br>
{% block usercontent %}
{% endblock %}
</div>
{% endblock %}
